
/* External CSS */

body {

font-family: Arial, sans-serif;

}

h1 {

color: blue;

}

p {

color: green;

font-size: 18px;

}

.box {

background-color: yellow;

padding: 10px;

border: 2px solid red;

}